---
import Layout from '~/layouts/PageLayout.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import PhotoGallery from '~/components/widgets/PhotoGallery.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';

const metadata = {
  title: 'צילומי הריון',
  ignoreTitleTemplate: true,
};

const title = "צילומי הריון";
---

<Layout metadata={metadata}>
    <div class="text-center py-5">
    <h1 class="mb-2 font-bold text-4xl tracking-tight text-heading dark:text-slate-300"><div set:text={title} /></h1>
    </div>

    <WidgetWrapper>
        <PhotoGallery imagesFolder="mater_gallery" />
    </WidgetWrapper>

    <!-- CallToAction Widget *********** -->

    <CallToAction
        id="bottomCallToAction"
        actions={[
            {
            variant: 'primary',
            text: 'ווטסאפ',
            href: 'https://wa.me/0521234567',
            target: '_blank',
            icon: 'tabler:brand-whatsapp',
            },
        ]}
        >
        <Fragment slot="title">
            אשמח לדבר
        </Fragment>

        <Fragment slot="subtitle">
            מוזמנים לפנות אלי לכל התייעצות או שאלה :)
        </Fragment>
        <Fragment slot="bg">
            <div class="absolute inset-0 bg-page"></div>
        </Fragment>
    </CallToAction>
</Layout>