---
---

<button
    aria-label="Scroll to top" 
    id="scrollToTop"
    class="z-50 fixed bottom-35 right-6 p-3 bg-gray-800/30 w-13 text-white rounded-lg shadow-md border border-white/80 backdrop-blur-sm transition-all transform scale-0 opacity-0 pointer-events-none focus-visible:outline-hidden focus-visible:ring-3 focus-visible:ring-primary dark:focus-visible:ring-gray-200 ease-in duration-200"
>
    <span class="sr-only">Scroll to top</span> ↑
</button>