---
//import { Image } from 'astro:assets';
import Image from '~/components/common/Image.astro';

const images = Astro.props.images;
---

<div class="glide place-items-center">
    <div class="glide__track object-scale-down" data-glide-el="track">
      <ul class="glide__slides">
        {images.map((image) => (
          <li class="glide__slide">
            {/* <Image src={image.src} alt={image.alt} loading="lazy"/> */
            <Image
                class="mx-auto w-full rounded-lg bg-gray-500 shadow-lg"
                width={image.src.width}
                height={image.src.height}
                
                {...image}
            />
          }
          </li>
        ))}
      </ul>
    </div>
</div>


<script src="/js/glide.min.js" defer></script>
<script is:inline>
    // Initialize Glide.js after the DOM is ready
    document.addEventListener('DOMContentLoaded', () => {
        const sliders = document.querySelectorAll('.glide');

        sliders.forEach((slider) => {
            new Glide(slider, {
            type: 'carousel',
            autoplay: 2000,
            perView: 1, // Adjust to your needs
            focusAt: 'center',
            gap: 10, // Space between slides
            }).mount();
        });
    });
</script>
