---
import SliderCard from './SliderCard.astro';
import type { SliderCardsGridType as Props } from '~/types';
import WidgetWrapper from '../ui/WidgetWrapper.astro';

const {
  sliderCards = [],
  isAfterContent = false,
  isDark = false,
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper
  isDark={isDark}
  containerClass={`max-w-4xl mx-auto ${isAfterContent ? 'pt-0 md:pt-0 lg:pt-0' : ''}}`}
  bg={bg}
>

{
  sliderCards && (
    <div class="space-y-10">
      {sliderCards.map((sliderCard) => <SliderCard sliderCard={sliderCard} />)}
    </div>
  )
}

</WidgetWrapper>