---
import Image from '~/components/common/Image.astro';
import staticHero from '~/assets/images/static_hero.jpg'
import staticHeroM from '~/assets/images/static_hero_v.jpg'
import { Icon } from 'astro-icon/components';
---
<section class="relative w-full h-[100vh] z-[-1] overflow-hidden">
    <div class="fixed top-0 left-0 w-full h-[100vh]">
        <Image
            class="object-cover h-full"
            src={ staticHero }
            alt="Static Hero Image"
            id="staticHeroDesktop"
            widths={[400, 768, 1024, 2040]}
            sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
            loading={'eager'}
        />
        <Image
            class="object-cover h-full"
            src={ staticHeroM }
            alt="Static Hero Image"
            id="staticHeroMobile"
            widths={[400, 768, 1024, 2040]}
            sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
            loading={'eager'}
        />
    </div>
    <div class="absolute bottom-40 left-1/2 transform -translate-x-1/2 animate-bounce">
        <Icon name={"tabler:arrow-down-dashed"} class="w-10 h-10 ml-1 -mr-1.5 rtl:mr-1 rtl:-ml-1.5 inline-block text-white drop-shadow-lg" />
    </div>
</section>

<script is:inline>
    document.addEventListener("scroll", function () {
        const mobileHero = document.getElementById("staticHeroMobile");
        const desktopHero = document.getElementById("staticHeroDesktop");
        if (!mobileHero || !desktopHero) return;

        const scrollPosition = window.scrollY;
        const scaleFactor = 1.2 - scrollPosition * 0.0002; // Adjust shrinking speed

        // Prevent it from shrinking too much
        if (scaleFactor > 1) {
            mobileHero.style.transform = `scale(${scaleFactor})`;
            desktopHero.style.transform = `scale(${scaleFactor})`;
        }
    });
</script>
