---
import { Icon } from 'astro-icon/components';
---

<button
    aria-label="Chat on WhatsApp"
    id="whatsapp"
    class="fixed bottom-20 right-6 p-3 bg-green-800/30 w-13 text-white rounded-lg shadow-md border border-white/80 backdrop-blur-sm transition-all duration-300 transform scale-0 opacity-0 pointer-events-none"
>
    <span class="sr-only">Chat on WhatsApp</span>
    <Icon name="tabler:brand-whatsapp" class="w-full h-auto inline-block" />
</button>