---
import CallToAction from "./CallToAction.astro"
---

<CallToAction
    id="bottomCallToAction"
    actions={[
      {
        variant: 'primary',
        text: 'ווטסאפ',
        href: 'https://wa.me/972525836940',
        target: '_blank',
        icon: 'tabler:brand-whatsapp',
      },
    ]}
  >
    <Fragment slot="title">
      עדיין מתלבטים?
    </Fragment>

    <Fragment slot="subtitle">
      השיחה עליכם, כל השאר עלי
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-page dark:bg-slate-900"></div>
    </Fragment>
</CallToAction>