---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'צור קשר',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="אני לא נושכת (רק מצלמת)" title="בואו נדבר" />

  <!-- Features2 Widget ************** -->

  <Features2
    title="דרכים אפשריות ליצירת קשר"
    items={[
      {
        title: 'טלפון',
        icon: 'tabler:phone',
        callToAction: {
          text: 'להתקשר',
          href: 'tel:0525836940'
        }
      },
      {
        title: 'ווטסאפ',
        icon: 'tabler:brand-whatsapp',
        callToAction: {
          text: 'לשלוח הודעה',
          href: 'https://wa.me/972525836940'
        }
      },
      {
        title: 'פייסבוק',
        icon: 'tabler:brand-facebook',
        callToAction: {
          text: '@yulia.photography',
          href: 'https://facebook.com/'
        }
      },
      {
        title: 'אינסטגרם',
        icon: 'tabler:brand-instagram',
        callToAction: {
          text: '<div dir="ltr">@koren_yulia</div>',
          href: 'https://instagram.com/koren_yulia/',
          target: '_blank'
        }
      },
      {
        title: 'מייל',
        icon: 'tabler:mail',
        callToAction: {
          text: 'yulia.photography@gmail.com',
          href: 'mailto:yulia.photography@gmail.com'
        }
      },
      {
        title: 'דואר יונים',
        description: 'כרגע לא פעיל, אבל עובדים על זה ;)',
        icon: 'tabler:send',
      },
    ]}
  />
</Layout>
