---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import img1 from '~/assets/images/img1.jpg';
import img2 from '~/assets/images/img2.jpg';
import img4 from '~/assets/images/img4.jpg';
import img5 from '~/assets/images/img5.jpg';
import img6 from '~/assets/images/img6.jpg';
import img7 from '~/assets/images/img7.jpg';
import img8 from '~/assets/images/img8.jpg';
import StaticHero from '~/components/widgets/StaticHero.astro';
import SliderCardsGrid from '~/components/widgets/SliderCardsGrid.astro';


const metadata = {
  title: 'X-photogpraphy',
  ignoreTitleTemplate: true,
};

const images = [
  { src: img1, alt: "aa" },
  { src: img2, alt: "aa" },
  { src: img4, alt: "aa" },
  { src: img5, alt: "aa" },
  { src: img6, alt: "aa" },
  { src: img7, alt: "aa" },
  { src: img8, alt: "aa" },
];
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <StaticHero />
  <Hero
    id='hero'
    actions={[
      {
        variant: 'primary',
        text: 'דברו איתי',
        href: 'tel:0521234567',
        target: '_blank',
        icon: 'tabler:phone',
      },
      { text: 'מחירון', href: '/pricing' },
    ]}
    image={{ src: '~/assets/images/hero.jpg', alt: 'X צלמת' }}
  >
    <Fragment slot="title">
      היי!
      אני <span class="text-accent dark:text-white highlight"> X</span>
    </Fragment>

    <Fragment slot="subtitle">
      צלמת מקצועית, מתמכה בצילומי משפחה, הריון, הנקה ועוד<br>
      בעולם של היום צילום ותיעוד מהווה חלק בלתי נפרד מהחיים שלנו, ולכן אני משתדלת שהמחירים שלי יהיו נגישים.
      מוזמנים לפנות אלי לכל שאלה או התייעצות
    </Fragment>
  </Hero>

  <SliderCardsGrid
    sliderCards= {
      [
        {
          images: images,
          title: "צילומי משפחה",
          subTitle: "זיכרונות מרגשים שנשארים לנצח",
          text:
            "רוצים לשמר את הרגעים המיוחדים עם האנשים היקרים לכם מכל? צילומי משפחה מקצועיים הם הדרך המושלמת להנציח את הקשר הייחודי שלכם. אני מציע חוויית צילום אישית ומהנה, באווירה רגועה שמתאימה לכל המשפחה – מהקטנים ועד הגדולים. אצור עבורכם תמונות מרהיבות שמשלבות אותנטיות, חיבור ורגעים מלאי קסם. כל תמונה תהפוך לזיכרון שתשמחו לשמור ולהציג. אל תחכו ליום מיוחד – בואו ליצור רגעים שתוכלו לחזור אליהם בכל עת!",
          callToAction: { text: "עוד", href: "/", icon: "tabler:library-photo" }
        },
        {
          images: images,
          title: "צילומי הריון",
          subTitle: "לתעד את הפלא המרגש של החיים",
          text:
            "תקופת ההריון היא אחת התקופות המיוחדות והמרגשות ביותר בחיים – זהו הזמן לתעד את הפלא הזה באופן שיעצים את היופי והחיבור שלך עם החיים החדשים שגדלים בתוכך. צילומי הריון מקצועיים מאפשרים לך להרגיש זוהרת, ייחודית ונשית מתמיד. אני אדאג לתפוס את הרגעים הקסומים שמספרים את הסיפור המיוחד שלך. הנציחי את הרגעים המרגשים של ההריון – צרי קשר עוד היום וניצור יחד זיכרון חשוב שילווה אותך לעד.",
          callToAction: { text: "עוד", href: "/", icon: "tabler:library-photo" }
        },
        {
          images: images,
          title: "צילומי הנקה",
          subTitle: "חיבור טבעי ואהבה ללא תנאים",
          text: 
            "הרגעים האינטימיים והטבעיים של ההנקה הם חוויות ייחודיות ובלתי נשכחות שמספרות את סיפור החיבור העמוק בין אם לתינוק. צילומי הנקה מקצועיים מאפשרים לך להנציח את התקופה המיוחדת הזו באופן מרגש, טבעי ואמנותי. בין אם את מעדיפה צילומים בטבע שקט ומרגיע, בביתך המלא חום או בסטודיו מקצועי, אני אדאג ליצור עבורך תמונות שמבליטות את האהבה, החיבור והיופי שבאימהות. הצילומים מתבצעים באווירה רגועה ונעימה, תוך תשומת לב לכל פרט, כדי להבטיח חוויה נוחה ומרגשת. צרי קשר עוד היום ותקחי את הרגעים המיוחדים של ההנקה בתמונות שישארו איתך לנצח.",
          callToAction: { text: "עוד", href: "/", icon: "tabler:library-photo" }
        },
      ]
    }
    >
  
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-900"></div>
    </Fragment>
  </SliderCardsGrid>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="דברים שחשוב לדעת"
    information={`מוזמנים לקרוא טיפים חשובים לפני`}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-white dark:bg-indigo-950"></div>
  </Fragment>
  </BlogLatestPosts>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="שאלות נפוצות"
    subtitle="אני זמינה בשמחה לכל שאלה אחרת שתעלה לכם, מוזמנים לדבר איתי"
    tagline="אם יש ספק אין ספק"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'איזה סוגי צילום את מציעה?',
        description:
          "אני מתמחה במגוון תחומי צילום, כולל צילומי משפחה, הריון, הנקה, ילדים, זוגות ואירועים קטנים. לכל תחום אני מתאימה סגנון ייחודי שמבליט את היופי והסיפור האישי שלכם.",
      },
      {
        title: 'איך מתבצע תהליך הצילום?',
        description:
          'תהליך הצילום מתחיל משיחה מקדימה שבה נכיר, נדבר על הסגנון הרצוי ונבחר לוקיישן מתאים. ביום הצילומים, האווירה רגועה ומותאמת אליכם, עם הרבה סבלנות כדי שתוכלו להרגיש נוח מול המצלמה.',
      },
      {
        title: 'איפה מתבצעים הצילומים?',
        description:
          "אני מציעה צילומים בלוקיישנים שונים, בהתאם להעדפותיכם: בטבע, בביתכם או בסטודיו מקצועי. הבחירה תלויה בסגנון שתרצו ובנוחות שלכם.",
      },
      {
        title: "תוך כמה זמן מקבלים את התמונות?",
        description:
          "תוך 14 ימי עבודה אשלח לכם גלריה דיגיטלית הכוללת את התמונות הערוכות. אני שמה דגש על איכות ולכן משקיעה בעריכה מקצועית שמדגישה את היופי של כל תמונה.",
      },
      {
        title: 'האם אפשר להביא בני משפחה או חברים לצילומים?',
        description:
          "בוודאי! אני מאמינה שלרגעים המיוחדים שלכם מגיעים גם האנשים היקרים לכם. יחד ניצור אווירה נעימה שבה כולם ירגישו בנוח להשתתף בצילומים.",
      },
      {
        title: 'מה קורה אם מזג האוויר לא מתאים לצילומים בחוץ?',
        description:
          "במקרה שמזג האוויר לא מאפשר צילומים בחוץ, נדאג לתאם מועד חדש או נבחר לוקיישן חלופי, כמו סטודיו או צילומים בביתכם. המטרה היא להבטיח תוצאה מושלמת בכל מצב.",
      },
    ]}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-slate-900"></div>
    </Fragment>
    </FAQs>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'ווטסאפ',
        href: 'https://wa.me/0521234567',
        target: '_blank',
        icon: 'tabler:brand-whatsapp',
      },
    ]}
  >
    <Fragment slot="title">
      אשמח לדבר
    </Fragment>

    <Fragment slot="subtitle">
      מוזמנים לפנות אלי לכל התייעצות או שאלה :)
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-indigo-950"></div>
    </Fragment>
  </CallToAction>
</Layout>
