---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import WhatssapCallToAction from '~/components/widgets/WhatssapCallToAction.astro';
import StaticHero from '~/components/widgets/StaticHero.astro';
import ContentGrid from '~/components/widgets/ContentGrid.astro';
import RichSeo from '~/components/common/RichSeo.astro';
import Reviews from '~/components/widgets/reviews.astro';

const richMetadata = {
  title: "יוליה קורן - צילומי משפחה | צילומי זוגיות | בוק אישי | לייף סטייל",
  description: "צילומי משפחה, צילומי זוגיות, צילומי סולו – בטבע קסום. חוויית צילום טבעית ומרגשת שתשאיר זיכרונות לכל החיים. צרו קשר לקביעת סשן צילום מותאם אישית",
}

const metadata = {
  title: 'יוליה קורן | צילומי משפחה | צילומי זוגיות | צילומי ילדים | צילומי תדמית',
  description: "צילומי משפחה, צילומי זוגיות, צילומי סולו – בטבע קסום. חוויית צילום טבעית ומרגשת שתשאיר זיכרונות לכל החיים. צרו קשר לקביעת סשן צילום מותאם אישית",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <RichSeo metadata={richMetadata} />
  <!-- Hero Widget ******************* -->
  <StaticHero />
  
  <Hero
    id='hero'
    actions={[
      {
        variant: 'primary',
        text: 'תרימו טלפון',
        href: 'tel:0525836940',
        target: '_blank',
        icon: 'tabler:phone',
      },
      { text: 'מחירון', href: '/pricing' },
    ]}
    image={{ src: '~/assets/images/hero.jpg', alt: 'צילומי משפחה צילומי זוגיות צילומי בוק אישי צילומים בטבע' }}
  >
    <Fragment slot="title">
      נמאס מתמונות קיטש? <br />
      <span class="text-accent dark:text-white highlight">אני עושה את זה אחרת</span>
    </Fragment>

    <Fragment slot="subtitle">
      כולם מצלמים. כל הזמן. אבל תמונה אמיתית? זו אחת שתגרום לכם לעצור, לחייך ולהגיד "וואו". פה זה מה שאני עושה.
    </Fragment>

    <!-- <Fragment slot="content">
      <p class="mt-5 bg-yellow-400 text-black px-4 py-2 rounded-lg font-bold mx-auto max-w-3xs">
                קבלו עכשיו הצעת מחיר לצילומי זוגיות – ייעוץ חינם לפונים מהעמוד!
      </p>
      <div class="whitespace-nowrap w-full overflow-hidden bg-yellow-400 text-black py-2 mt-5">
        <span class="px-8">קבלו עכשיו הצעת מחיר</span>
      </div>
    </Fragment> -->

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-page dark:bg-slate-900"></div>
    </Fragment>
  </Hero>

  <!-- ContentGrid Widget ******* -->
  <ContentGrid
    contentArray= {
      [
        {
          imagesFolder: "family_index",
          title: "צילומי זוגיות ומשפחה",
          subTitle: "תמונות שישאירו אתכם פעורי פה",
          text:
            "נמאס מהתמונות המשפחתיות שמעלות אבק באלבום? פה זה לא עוד צילום \"תחייכו ודי\". זה צחוקים, חיבוקים אמיתיים ורגעים שתשמחו לחיות שוב ושוב. בלי פוזות מתישות – רק אתם, הכי טבעי, הכי אמיתי. ויוצאים עם תמונות שעושות וואו.",
          callToAction: { text: "גלריה", href: "/gallery/family", icon: "tabler:library-photo" }
        },
        {
          imagesFolder: "solo_index",
          title: "צילומים אישיים | צילומי תדמית",
          subTitle: "זוית חדשה על עצמך",
          text:
            "זה לא עוד צילום סולו. זה הזמן שלכם להרגיש מלך או מלכה מול המצלמה – בלי פילטרים, בלי הצגות. אם זה בוק אישי, אינסטגרם או תדמית – הסשן תפור עליכם. התוצאה? תמונות חדות ומלאות אופי שיגרמו לכל מי שיראה אותן לעצור.",
          callToAction: { text: "גלריה", href: "/gallery/solo", icon: "tabler:library-photo" }
        },
      ]
    }
    >
  
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-page dark:bg-slate-900"></div>
    </Fragment>
  </ContentGrid>

  <!-- Reviews section -->
  <Reviews />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="טיפים"
    information={`מוזמנים לקרוא מידע חשוב וטיפים לפני הצילומים`}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-page dark:bg-slate-900"></div>
  </Fragment>
  </BlogLatestPosts>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="שאלות נפוצות"
    subtitle="אני זמינה בשמחה לכל שאלה אחרת שתעלה לכם, מוזמנים לדבר איתי"
    tagline="אם יש ספק אין ספק"
    classes={{ container: 'max-w-5xl' }}
    items={[
    {
      title: 'איזה סוגי צילום את מציעה?',
      description: "אני עושה הכל – סולו, זוגות, משפחה, ילדים ואפילו אירועים קטנים. לכל אחד אני מביאה סגנון אחר, אבל תמיד חד, אמיתי ומלא אופי.",
    },
    {
      title: 'איך מתבצע תהליך הצילום?',
      description: "קודם מדברים, מכירים, בוחרים לוקיישן מתאים. ביום הצילומים? זורמים. בלי לחץ, בלי פוזות מביכות – אתם תהיו אתם, ואני דואגת להכווין אתכם כדי שהתמונות ייצאו בול.",
    },
    {
      title: 'איפה מתבצעים הצילומים?',
      description: "בחוץ, בטבע, במרכז – יש מלא לוקיישנים מעולים. נבחר יחד מה שמתאים לכם, כדי שתרגישו הכי נוח והכי אתם.",
    },
    {
      title: "תוך כמה זמן מקבלים את התמונות?",
      description: "עד שבועיים – ואתם מקבלים גלריה דיגיטלית עם התמונות הכי יפות. אני לא חוסכת בעריכה – כל תמונה עוברת פינישים כדי שתהיה פצצה.",
    },
    {
      title: 'האם אפשר להביא בני משפחה או חברים לצילומים?',
      description: "ברור! תביאו את מי שעושה לכם שמח (בני משפחה זה כולל את הפרוותיים). יחד נוציא רגעים אמיתיים שיעלו לכולם חיוך.",
    },
    {
      title: 'מה קורה אם מזג האוויר לא מתאים לצילומים בחוץ?',
      description: "אין לחץ – אם יורד גשם או חמסין, דוחים או מחליפים לוקיישן. הכי חשוב שזה יצא מושלם, לא מתפשרים על פחות.",
    },
  ]}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-page dark:bg-slate-900"></div>
    </Fragment>
    </FAQs>

  <!-- CallToAction Widget *********** -->

  <WhatssapCallToAction />
</Layout>
