---
import light_logo from '~/assets/images/yk_logo_light.png'
import dark_logo from '~/assets/images/yk_logo_dark.png'
import Image from 'astro/components/Image.astro';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-default whitespace-nowrap dark:text-white">
   <Image
      class="object-scale-down max-h-15 dark:hidden"
      width={200}
      height={100}
      alt="יוליה צילום לוגו"
      src={light_logo}
      loading="eager"
   />
   <Image
      class="object-scale-down max-h-15 hidden dark:block"
      width={200}
      height={100}
      alt="יוליה צילום לוגו"
      src={dark_logo}
      loading="eager"
   />
</span>
