---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import ScrollToTopButton from '~/components/widgets/ScrollToTopButton.astro';
import WhatsAppButton from '~/components/widgets/WhatsAppButton.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData, BreadcrumbType } from '~/types';

export interface Props {
  metadata?: MetaData;
  richMetadata?: MetaData;
  breadcrumbs?: BreadcrumbType[];
}

const { metadata, richMetadata, breadcrumbs } = Astro.props;
const { pathname } = new URL(Astro.request.url);
const isContactPage = pathname === '/contact';
---

<Layout metadata={metadata} richMetadata={richMetadata} breadcrumbs={breadcrumbs}>
  <slot name="header">
    <Header {...headerData} isSticky showToggleTheme showInstagramLink />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
  <ScrollToTopButton />
  {
    !isContactPage && (
      <WhatsAppButton />
    )
  }
  
</Layout>
